<html>

<head>
	<meta charset="UTF-8">
	<title>로그인</title>
	<script type="text/javascript" src="base64url-arraybuffer.js"></script>
	<script src="helper.js">
	</script>
	<script language="JavaScript" type="text/javascript">
		const request = new XMLHttpRequest()
		let getGetAssertionChallenge = (formBody) => {
			return fetch('/dologin', {
				method: 'POST',
				credentials: 'include',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(formBody)
			})
				.then((response) => response.json())
				.then((response) => {
					if (response.status !== 'ok')
						throw new Error(`Server responed with error. The message is: ${response.message}`);

					return response
				})
		}
		function listener() {
			if (request.readyState == 4)
				if (request.status == 200)
					alert('변경 완료')
				else
					alert('변경 안됨')
			else {
				//	로딩 중
			}
		}
		function change(target) {
			if (request) {
				const li = []
				for (let k of document.getElementById(target).getElementsByTagName("input"))
					li.push(k.value)
				request.open('PUT', document.location.href + '/set', true)
				request.onreadystatechange = listener
				const para = JSON.stringify({
					program: target,
					li: li
				})
				request.setRequestHeader("Content-type", "application/json; charset=utf-8");
				request.setRequestHeader("Content-length", para.length);
				request.setRequestHeader("Connection", "close");
				request.send(para)
			}
		}
		function login(event) {
			event.preventDefault();

			let username = this.username.value;

			if (!username) {
				alert('Username is missing!')
				return
			}
			getGetAssertionChallenge({ username/*,name:username*/ })
				.then((response) => {
					let publicKey = preformatGetAssertReq(response);
					return navigator.credentials.get({ publicKey })
				})
				.then((response) => {
					let getAssertionResponse = publicKeyCredentialToJSON(response);
					return sendWebAuthnResponse(getAssertionResponse)
				})
				.then((response) => {
					if (response.status === 0) {
						location.reload()
					} else {
						alert(`Server responed with error. The message is: ${response.message}`);
					}
				})
				.catch((error) => alert(error))
		}

	</script>

</head>

<body>
	<input type="text" id="username"><br>
	<button onclick="login(event)">로그인</button>
	<a href="/register">회원가입</a>
</body>

</html>