<html>

<head>

	<script>
		function logout() {
			fetch('/logout', { credentials: 'include' });
			location.href = location.href;
		}
		function loadMainContainer(){
			return fetch('/personalInfo', { credentials: 'include' })
				.then((response) => response.json())
				.then((response) => {
					if (response.status === 'ok') {
						document.getElementById('name').innerText=response.name
					} else {
						alert(`Error! ${response.message}`)
					}
				})
		}
	</script>
</head>

<body onload="loadMainContainer()">
	<div id="name"></div>

	<button onclick="logout()">
		로그아웃
	</button>

</body>

</html>